/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
doc/
/.nrepl-history
*~
build/
docs/build
node_modules/
_book/
docs/guides/Gemfile.lock
docs/guides/_build
docs/api/
resources/
core/target/
http/target/
core/.lein-*
http/.lein-*